<html>
    <head>
        <title>all courses</title>
    </head>
    <body>
        <h1>all courses</h1>
        {% if courses is not empty %}
            <p>Here are your courses:</p>
            <ul>
                {% for course in courses %}
                    <li><a href="/courses/{{ course.getId }}">{{ course.getCourseName }} - {{course.getCourseNumber}}</a></li>
                {% endfor %}
            </ul>
        {% else %}<p>There are no courses</p>
        {% endif %}

        <form action = '/courses' method='post'>
            <label for='course_name_twig'>course name</label>
            <input id='course_name_twig' type="text" name="course_name_twig">
            <label for='course_number_twig'>course number</label>
            <input id='course_number_twig' type="text" name="course_number_twig">
            <button type='submit'>submit</button>
        </form>

        <a href = "/">Home</a>

    </body>
</html>
