<html>
    <head>
        <title>registrar</title>
    </head>
    <body>
        <h1>registrar</h1>

        <a href="/add_students">add students</a>
        <a href="/add_courses">add courses</a><br>
        <a href="/students">view students</a>
        <a href="/courses">view courses</a><br>
    </body>
</html>
